/**
 @ Button 
 **/
.erp-btn {
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

.erp-btn:hover {
  opacity: 0.9;
}

.erp-btn:active {
  transform: translateY(0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.erp-btn-primary {
  background-color: var(--bs-primary);
  /* Indigo */
}

.erp-btn-success {
  background-color: var(--bs-success);
  /* Green */
}

.erp-btn-danger {
  background-color: var(--bs-danger);
  /* Red */
}

.erp-btn-warning {
  background-color: var(--bs-warning);
  /* Amber */
}
.erp-btn-secondary {
  background-color: var(--bs-secondary);
}
.default-button {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

.default-input {
  border-radius: 0.5rem;
  padding: 0.75rem;
}
/**
 *@ Select 2
**/
.select2 {

}
.list-data-select2 {
  padding: 0px;
  position: absolute;
  background-color: var(--erp-sidebar-bg);
  height: 200px;
  width: 300px;
  overflow-y: scroll;
}
.list-data-select2 li {
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}
button[disabled] {
  background-color: var(--bs-gray-400);
}
.erp-search-select {
  position: relative;
}
.erp-search-select .spinner-border {
    position: absolute;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    right: 55px;
}
.uploadimage-component {
  position: relative;
}
.uploadimage-component img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}